<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {{ include('common/navigation.html.twig') }}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <hr>
            <p class="centered">&copy;Bucket-List - {{ "now"|date("Y") }}</p>
        </footer>
        <div class="d-flex">
            <div>Line 1</div>
            <div>Line 2</div>
        </div>
    </body>
</html>
